In [2]:
import pandas as pd
import seaborn
import matplotlib as mpl
import numpy as np
import re

In [13]:
housing_df = pd.read_excel("Median_Housing_Prices.xls")
housing_df.filter(items=['CA', 'Los Angeles', 'San Francisco'])

                CA    Los Angeles  San Francisco
0    194952.000000  215337.926006         287499
1    196273.000000  208399.117906         300877
2    194856.000000  208134.862749         290151
3    196111.000000  219003.989632         288725
4    195281.000000  209065.024168         282626
5    194410.000000  210605.895742         305738
6    193088.000000  225250.714143         296195
7    192180.000000  213478.489676         284523
8    189979.000000  211552.002447         278301
9    187630.000000  207801.384318         272500
10   192020.000000  202716.814957         281249
11   190375.000000  212855.455029         272777
12   192054.000000  197706.413753         270161
13   194806.000000  199157.204997         270714
14   202666.000000  207939.683633         268055
15   207718.000000  213442.452562         279941
16   211001.000000  218891.850428         280319
17   206722.000000  224055.042847         291666
18   206069.000000  230028.038935         294339
19   200340.000000  220857.524423         286499
20   197801.000000  231449.069917         278921
21   196021.000000  209255.510571         275862
22   194192.000000  202237.291667         282608
23   199452.000000  222829.235187         279310
24   196410.000000  213951.086514         267262
25   198220.000000  207017.980592         268750
26   200500.000000  218844.302878         272222
27   198700.000000  211762.367372         281418
28   203420.000000  204440.093428         277419
29   199460.000000  211278.133255         288207
..             ...            ...            ...
319  527490.000000  520400.154002        1257500
320  516450.000000  550705.369992        1218750
321  513520.000000  536760.000000        1407500
322  502490.000000  487060.000000        1360500
323  510560.000000  522520.000000        1315210
324  491840.000000  509130.000000        1250000
325  480270.000000  470200.000000        1276000
326  518600.000000  465810.000000        1350000
327  537950.000000  480230.000000        1402500
328  550239.010379  492040.000000        1501680
329  555410.000000  548220.000000        1469000
330  549460.000000  566240.000000        1428000
331  565330.000000  570720.000000        1380000
332  555410.000000  606110.000000        1350000
333  546430.000000  580360.000000        1594000
334  546820.000000  530920.000000        1500000
335  546550.000000  577690.000000        1475000
336  527780.000000  564100.000000        1330000
337  522440.000000  527280.000000        1730000
338  564830.000000  528980.000000        1680000
339  584460.000000  528540.000000        1650000
340  600860.000000  536940.000000        1620000
341  602760.000000  586090.000000        1620000
342  591460.000000  597520.000000        1650000
343  596410.000000  607490.000000        1550000
344  578850.000000  634680.000000        1507500
345  572000.000000  614500.000000        1600000
346  554760.000000  553940.000000        1442500
347  557600.000000  588140.000000        1500000
348  538690.000000  566010.000000        1330000

[349 rows x 3 columns]